@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body,
html,
.page {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 180%;
  color: #666;
  text-align: center;
  font: inherit;
}

/********************* Parallax ******************/

.parallax1 {
  background: url(img/first.jpg);
  min-height: 100%;
}

.parallax2 {
  background: url(img/second.jpg);
  min-height: 60%;
}

.parallax3 {
  background: url(img/third.jpg);
  min-height: 60%;
}

.parallax4 {
  background: url(img/fourth.jpg);
  min-height: 100%;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4 {
  position: relative;
  opacity: .75;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading {
  position: absolute;
  color: #fff;
  font-size: 250%;
  top: 45%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 0 0 10px #000;
}

.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: rgb(241, 227, 227);
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

.heading-sm2 {
  position: absolute;
  top: 45%;
  width: 100%;
  color: rgb(19, 17, 17);
  font-size: 150%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}

.two-col {
  float: left;
  width: 44%;
  padding: 0 2%;
  text-align: center;
}

section {
  overflow: auto;
  padding: 30px 80px;
  line-height: 1.8em;
  list-style-type: none;
}

.dark {
  overflow: auto;
  padding: 30px 80px;
  background-color: #323232;
  color: #f2f2f2;

}

p span {
  display: block;
  line-height: 1.8em;
}

/********************* Button ******************/

a:link,
a:visited {
  background-color: #0a0909;
  color: white;
  padding: 12px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: black;
}

/********************* Navbar ******************/

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar li {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar li:hover {
  /* background: #ddd; */
  color: black;
}

/****************    Dark Theme   ********************/

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

body {
  background: var(--bkg-color);
}

h1,
p {
  color: var(--text-color);
}

/*********************************************/

@media (max-width:768px) {
  .heading {
    font-size: 180%;
  }

  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .heading-sm {
    font-size: 180%;
  }

  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }
}